<style>
    .node {
        width: 40px;
        height: 20px;
        fill: #5727a3;
        stroke: none;
    }

    .completed {
        fill: #81d861;
    }

    .inprogress {
        fill: #ffe030;
    }

    .todo {
        fill: #ddd;
    }

    .node rect {
      cursor: pointer;
      fill: #fff;
      stroke: #3182bd;
      stroke-width: 1.5px;
    }

    .link {
        fill: none;
        stroke: #d6c5f0;
        stroke-width: 1px;
    }

    .numbertext {
        font: bold 12px sans-serif;
        fill: white;
    }

    .text {
        font: 10px sans-serif;
        fill: black;
    }
</style>

<svg width="100%" height="100%">
    <g transform="translate(150, 30)">
        <g class="links"><line class="link" x1="0" y1="0" x2="-100" y2="70"></line><line class="link" x1="0" y1="0" x2="100" y2="70"></line><line class="link" x1="100" y1="70" x2="100" y2="140"></line></g>
        <g class="nodes"><rect class="completed" rx="6" height="20" width="20" x="-10" y="-10"></rect><rect class="inprogress" rx="6" height="20" width="20" x="-110" y="60"></rect><rect class="inprogress" rx="6" height="20" width="20" x="90" y="60"></rect><rect class="todo" rx="6" height="20" width="20" x="90" y="130"></rect></g>
        <g class="texts"><text class="text" dy=".3em" x="12" y="0">Assinar contrato</text><text class="text" dy=".3em" x="-88" y="70">Construção do poço</text><text class="text" dy=".3em" x="112" y="70">Instalação do elevador</text><text class="text" dy=".3em" x="112" y="140">Inauguração do elevador</text></g>
        <g class="numbertexts"><text class="numbertext" dy="4.5px" dx="-4px" x="0" y="0">1</text><text class="numbertext" dy="4.5px" dx="-4px" x="-100" y="70">2</text><text class="numbertext" dy="4.5px" dx="-4px" x="100" y="70">3</text><text class="numbertext" dy="4.5px" dx="-4px" x="100" y="140">4</text></g>
    </g>
</svg>