<style>
    .node {
        width: 40px;
        height: 20px;
        fill: #5727a3;
        stroke: none;
    }

    .completed {
        fill: #81d861;
    }

    .inprogress {
        fill: #ffe030;
    }

    .todo {
        fill: #ddd;
    }

    .node rect {
      cursor: pointer;
      fill: #fff;
      stroke: #3182bd;
      stroke-width: 1.5px;
    }

    .link {
        fill: none;
        stroke: #d6c5f0;
        stroke-width: 1px;
    }

    .numbertext {
        font: bold 12px sans-serif;
        fill: white;
    }

    .text {
        font: 10px sans-serif;
        fill: black;
    }
</style>

<svg width="100%" height="100%">
    <g transform="translate(300, 30)">
        <g class="links"><line class="link" x1="0" y1="0" x2="-200" y2="70"></line><line class="link" x1="0" y1="0" x2="200" y2="70"></line><line class="link" x1="-200" y1="70" x2="-200" y2="140"></line><line class="link" x1="200" y1="70" x2="200" y2="140"></line><line class="link" x1="200" y1="140" x2="200" y2="210"></line></g>
        <g class="nodes"><rect class="completed" rx="6" height="20" width="20" x="-10" y="-10"></rect><rect class="completed" rx="6" height="20" width="20" x="-210" y="60"></rect><rect class="inprogress" rx="6" height="20" width="20" x="190" y="60"></rect><rect class="completed" rx="6" height="20" width="20" x="-210" y="130"></rect><rect class="todo" rx="6" height="20" width="20" x="190" y="130"></rect><rect class="todo" rx="6" height="20" width="20" x="190" y="200"></rect></g>
        <g class="texts"><text class="text" dy=".3em" x="12" y="0">Definição das Matérias do Segundo Semestre</text><text class="text" dy=".3em" x="-188" y="70">Atualização da Plataforma com as Novas Matérias</text><text class="text" dy=".3em" x="212" y="70">Definição da quantidade de monitores por matéria</text><text class="text" dy=".3em" x="-188" y="140">Abertura do período de Inscrições</text><text class="text" dy=".3em" x="212" y="140">Seleção dos Monitores</text><text class="text" dy=".3em" x="212" y="210">Divulgação do resultado</text></g>
        <g class="numbertexts"><text class="numbertext" dy="4.5px" dx="-4px" x="0" y="0">1</text><text class="numbertext" dy="4.5px" dx="-4px" x="-200" y="70">2</text><text class="numbertext" dy="4.5px" dx="-4px" x="200" y="70">3</text><text class="numbertext" dy="4.5px" dx="-4px" x="-200" y="140">4</text><text class="numbertext" dy="4.5px" dx="-4px" x="200" y="140">5</text><text class="numbertext" dy="4.5px" dx="-4px" x="200" y="210">6</text></g>
    </g>
</svg>