<style>
    .node {
        width: 40px;
        height: 20px;
        fill: #5727a3;
        stroke: none;
    }

    .completed {
        fill: #81d861;
    }

    .inprogress {
        fill: #ffe030;
    }

    .todo {
        fill: #ddd;
    }

    .node rect {
      cursor: pointer;
      fill: #fff;
      stroke: #3182bd;
      stroke-width: 1.5px;
    }

    .link {
        fill: none;
        stroke: #d6c5f0;
        stroke-width: 1px;
    }

    .numbertext {
        font: bold 12px sans-serif;
        fill: white;
    }

    .text {
        font: 10px sans-serif;
        fill: black;
    }
</style>

<svg width="100%" height="100%">
    <g transform="translate(150, 30)">
        <g class="links"><line class="link" x1="0" y1="0" x2="0" y2="70"></line><line class="link" x1="0" y1="70" x2="0" y2="140"></line><line class="link" x1="0" y1="140" x2="0" y2="210"></line><line class="link" x1="0" y1="210" x2="0" y2="280"></line><line class="link" x1="0" y1="280" x2="0" y2="350"></line></g>
        <g class="nodes"><rect class="completed" rx="6" height="20" width="20" x="-10" y="-10"></rect><rect class="completed" rx="6" height="20" width="20" x="-10" y="60"></rect><rect class="inprogress" rx="6" height="20" width="20" x="-10" y="130"></rect><rect class="todo" rx="6" height="20" width="20" x="-10" y="200"></rect><rect class="todo" rx="6" height="20" width="20" x="-10" y="270"></rect><rect class="todo" rx="6" height="20" width="20" x="-10" y="340"></rect></g>
        <g class="texts"><text class="text" dy=".3em" x="12" y="0">Criar licitação </text><text class="text" dy=".3em" x="12" y="70">Abertura de propostas</text><text class="text" dy=".3em" x="12" y="140">Assinatura do contrato</text><text class="text" dy=".3em" x="12" y="210">Início da Operação de Reforma</text><text class="text" dy=".3em" x="12" y="280">Reforma</text><text class="text" dy=".3em" x="12" y="350">Alvará Sanitario</text></g>
        <g class="numbertexts"><text class="numbertext" dy="4.5px" dx="-4px" x="0" y="0">1</text><text class="numbertext" dy="4.5px" dx="-4px" x="0" y="70">2</text><text class="numbertext" dy="4.5px" dx="-4px" x="0" y="140">3</text><text class="numbertext" dy="4.5px" dx="-4px" x="0" y="210">4</text><text class="numbertext" dy="4.5px" dx="-4px" x="0" y="280">5</text><text class="numbertext" dy="4.5px" dx="-4px" x="0" y="350">6</text></g>
    </g>
</svg>